[submodule "sequenceserver-scale"]
	path = sequenceserver-scale
	url = https://github.com/zhxu73/sequenceserver-scale.git
[submodule "blast-workqueue"]
	path = blast-workqueue
	url = https://github.com/zhxu73/blast-workqueue
