[Unit]
Description=Backend of the WorkQueue Application for running BLAST search
After=nginx.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=seqserver
ExecStart=/usr/bin/blast_workqueue-backend --password /var/www/sequenceserver/wq_password.txt

[Install]
WantedBy=multi-user.target
